.show{
  animation: show-item 2s ease-in forwards;
  -webkit-animation: show-item 2s ease-in forwards;
}

.hide{
  animation: hide-item 2s ease-in forwards;
  -webkit-animation: hide-item 2s ease-in forwards;
}

@keyframes hide-item{
  /**
    显示-->隐藏
  **/
  0% { 
    opacity: 1;
    color: red;
  }
  50% {
    opacity: 0.5;
    color: green;
  }
  100% {
    opacity: 0;
    color: blue;
  }
}


@keyframes show-item{
  /**
    隐藏-->显示
  **/
  0% { 
    opacity: 1;
    color: red;
  }
  50% {
    opacity: 0.5;
    color: green;
  }
  100% {
    opacity: 0;
    color: blue;
  }
}